@model List<Merchandise>
@{
    ViewData["Title"] = "Variant Summary";
}

<body class="variant" id="load">

    <div class="pageMain">
        <div class="variant-page">
            <div class="container-variant">
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark ">
                        <div class="container">
                            <h3>
                                <img src="~/images/3bars_menu_header.png" /> Variant Summary
                            </h3>                            
                            @Html.DropDownList("ShowCards", new SelectList(Enum.GetValues(typeof(ShowCards))), new { @id = "showCardList" })
                            @Html.DropDownList("Countries", new SelectList(Enum.GetValues(typeof(Countries))), new { @id = "countryList" }) 
                        <div class="toggleSwitch">
                            <label class="switch">
                                <input type="checkbox" checked />
                                <span class="slider round"></span>
                            </label>
                        </div>
                        </div>
                    </nav>
                </header>

            </div>
            <table class="merchTable" id="block">
                <tr>
                    <th width="75px">SEQ</th>
                    <th width="125px">Item ID</th>
                    <th width="700px">Description</th>
                    <th width="90px">Sold</th>
                    <th width="90px">Sold Today</th>
                    <th width="90px">AFS</th>
                    <th width="65px">P Mins</th>
                    <th width="65px">A Mins</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                @foreach (var item in Model)
                {                    
                    <tr>
                        <td width="75px">@item.PlanSeqId</td>
                        <td width="125px">@item.ItemId</td>
                        <td width="700px">@item.ItemDescription</td>
                        <td width=90px align="right">@item.OrderQuantity</td>
                        <td width=90px align="right">@item.OrderSldTdy</td>
                        <td width=90px align="right">@item.AvaiForSaleQty</td>
                        <td width=65px align="right">@item.PlannedMinutesQty</td>
                        <td width=65px align="right">@item.ActualMinutesQty</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="pageSide" style="height:810px; overflow-y: auto; display:block;">
        <div id="rightPanel" style="height:100%; overflow:hidden; background-color:white;">
            <iframe id="hsnComFrame" src="https://www.hsn.com/product-by-style/082193?Device=mobile" style="width: 98%; height:100%;"></iframe>
        </div>
    </div>

</body>

@section Scripts
    {
    <script type="text/javascript">        

        $("#countryList").change(function list() {
            var select = $("#countryList").val();
            var select2 = $("#showCardList").val();
            $.ajax({
                type: "get",
                url: '@Url.Action("Merchandise", "Home")' + "/" + select + "," + select2,
                data: {'selCountry' : select, 'selCards' : select2},
                success: function (data) {
                    $('.variant').html(data);                    
                    $("#countryList").change(list); //call the function again                    
                }
            });
        });              
        
        //function autoRefreshPage() {            
        //    window.location = window.location.href;
        //}
        //setInterval('autoRefreshPage()', 5000);

        

    </script>
}
