@model QxHDashboard.Models.MerchandiseViewModel
@{
    ViewData["Title"] = "Variant Summary";
}

<body class="variant" id="load">

    <div class="pageMain">
        <div class="variant-page">
            <div class="container-variant">
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark ">
                        <div class="container">
                            <h3>
                                <img src="~/images/3bars_menu_header.png" /> Variant Summary
                            </h3>
                            <form asp-action="SelectDDView" method="post" id="formSelect">
                                <asp:UpdatePanel runat="server" id="UpdatePanel" updatemode="Conditional">
                                <select asp-for="SelectedNetworkId" asp-items="Model.networks" id="merchSelect" style="margin-left: 1em;"></select>
                                <select asp-for="SelectedCountryId" asp-items="Model.countries" id="merchSelect" style="margin-left: 1em;"></select>
                                <select asp-for="SelectedCardId" asp-items="Model.cards" id="merchSelect" style="margin-left: 1em;"></select>
                                    <Triggers>
                                <input type="submit" value="Update" class="btn btn-light" style="margin-left: 1em;" />
                                    </Triggers>
                                </asp:UpdatePanel>
                            </form>
                        </div>
                    </nav>
                </header>
            </div>
            <table class="merchTable" id="block">
                <tr>
                    <th width="75px">SEQ</th>
                    <th width="125px">Item ID</th>
                    <th width="700px">Description</th>
                    <th width="90px">Sold</th>
                    <th width="90px">Sold Today</th>
                    <th width="90px">AFS</th>
                    <th width="65px">P Mins</th>
                    <th width="65px">A Mins</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                @foreach (var item in Model.merchandise)
                {
                    <tr id="merchRow">
                        <td width="75px">@item.PlanSeqId</td>
                        <td width="125px">@item.ItemId</td>
                        <td width="700px">@item.ItemDescription</td>
                        <td width=90px align="right">@item.OrderQuantity</td>
                        <td width=90px align="right">@item.OrderSldTdy</td>
                        <td width=90px align="right">@item.AvaiForSaleQty</td>
                        <td width=65px align="right">@item.PlannedMinutesQty</td>
                        <td width=65px align="right">@item.ActualMinutesQty</td>
                    </tr>
                }
            </table>
            
        </div>        
    </div>
    <div class="pageSide" style="height:810px; overflow-y: auto; display:block;">
        <div id="rightPanel" style="height:100%; overflow:hidden; background-color:white;">
            <iframe id="hsnComFrame" src="https://www.hsn.com/product-by-style/677560?Device=mobile" style="width: 98%; height:100%;"></iframe>
        </div>
    </div>

</body>

@section Scripts
    {
    <script type="text/javascript">   
        //$("")

        //setInterval("myFunction();", 1000);
        //function myFunction() {
        //    $("#merchPartial").load(location.href + "#block");
        //}
        
        @*$("#countryList").change(function list() {
            var select = $("#countryList").val();
            var select2 = $("#showCardList").val();
            $.ajax({
                type: "get",
                url: '@Url.Action("Merchandise", "Home")' + "/" + select + "," + select2,
                data: {'selCountry' : select, 'selCards' : select2},
                success: function (data) {
                    $('.variant').html(data);                    
                    $("#countryList").change(list); //call the function again                    
                }
            });
        });*@    

        @*$("#countryList").change(function list() {
            var select = $("#countryList").val();
            var select2 = $("#showCardList").val();
            $.ajax({
                type: "get",
                url: '@Url.Action("Merchandise", "Home")' + "/" + select + "," + select2,
                data: {'selCountry' : select, 'selCards' : select2},
                success: function (data) {
                    $('.merchTable').html(data);                    
                    //$("#countryList").change(list); //call the function again                    
                }
            });
        });*@     

        //function CallAction()

        //var refreshTable = setInterval(function () {
        //    $(".merchTable").load('/home/selectddview');
        //}, 5000);
        
        //function autoRefreshPage() {            
        //    window.location = window.location.href;
        //}
        //setInterval('autoRefreshPage()', 5000);

        

    </script>
}
