@model QxHOracleLoader.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanSeqId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanSeqId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderSldTdy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderSldTdy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedMinutesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedMinutesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualMinutesQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualMinutesQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvaiForSaleQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvaiForSaleQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowCd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
